node_modules/
.env
generatedOutput/images/*
generatedOutput/audios/*
generatedOutput/videos/*
generatedOutput/thumbnails/*
!generatedOutput/**/.gitkeep
public/uploads/*
!public/uploads/bg-music/
npm-debug.log*
